<style>
    header {
        font-weight: bold;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 10px;
    }
    header .header-content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

   header h1 {
       margin: 0;
       font-size: 20px;
   }

   header p {
       margin: 0;
       font-size: 14px;
   }
   header-line {
       border: none;
       border-top: 1px solid rgba(0, 0, 0, 0.1);
       box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
       color: #b2b09b;
       margin-bottom: 50px
   }
   .logo {
        width: 50px;
        height: 50px;
        background-color: #ff6f59;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 24px;
        font-weight: bold;
        color: White;
   }
</style>
<header>
    <div class="header-content">
        <h1>API AUTOMATION REPORT</h1>
        <p>{{currentDate}}</p>
    </div>
    <div class="logo">AT</div>
</header>
<hr class="header-line">
